{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Blog
{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}
{% block page_content %}


    <section id="welcome">
        <header class="myheader">

            <h2>به دنیای من خوش آمدید</h2>
            <img src="{% static 'blog/images/masoud_qashqai.jpg' %}" alt="masoud" class="myimg">
        </header>
    <p> من مسعودم و عاشق دو چیزم کد (مخصوصا پایتون) و گربه های تپل </p>
    </section>

    <section id="latest-posts">
        <h2>آخرین افکار من</h2>
        <ul>
            {% include 'blog/includes/post.html' %}
        </ul>
    </section>

    <section id="about">
        <h2>what i do?</h2>
        <p> i love programming , especially python and its framework django</p>
        <p>i love a paying job as well!</p>
    </section>
{% endblock %}