{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Blog
{% endblock %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}
{% block page_content %}
    <header id="main-navigation">
    <nav>
            <a href="">همه ی پست ها</a>
        </nav>
    <h1><a href="">وبلاگ مسعود</a></h1>

    </header>

    <section id="welcome">
        <header class="myheader">

            <h2>به دنیای من خوش آمدید</h2>
            <img src="{% static 'blog/images/masoud_qashqai.jpg' %}" alt="masoud" class="myimg">
        </header>
    <p> من مسعودم و عاشق دو چیزم کد (مخصوصا پایتون) و گربه های تپل </p>
    </section>

    <section id="latest-posts">
        <h2>آخرین افکار من</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static 'blog/images/smalltiger.jpg' %}" alt="donut cat">
                    </a>
                    <div class="post__content">
                        <h3>پیشی عاشقتم</h3>
                        <p>میو</p>
                    </div>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>what i do?</h2>
        <p> i love programming , especially python and its framework django</p>
        <p>i love a paying job as well!</p>
    </section>
{% endblock %}