{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ post.title }}
{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}
{% block page_content %}
    <section id="summary">
    <h2 class="post-title">{{ post.title }}</h2>
        <article>

                <img src="{% static 'blog/images/'|add:post.image %}" alt="post-title">
                <address>بوسیله {{ post.author }}</address>
                <div>
                    آخرین آپدیت :<time>{{  post.date|date:'d M Y' }}</time>
                </div>

        </article>

    </section>

    <main>
        {{ post.content|linebreaks }}
    </main>
{% endblock %}