{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}
    
    {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block css_files %}
    
    {% endblock %}
</head>
<body>
<header id="main-navigation">
    <nav>
            <a href="{% url 'posts-page' %}">همه ی پست ها</a>
        </nav>
    <h1><a href="{% url 'starting-page' %}">وبلاگ مسعود</a></h1>

</header>
{% block page_content %}

{% endblock %}

</body>
</html>